<div class="mb-2">
  <h1 mat-dialog-title>Edit Product</h1>
  <mat-dialog-content>
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" readonly [(ngModel)]="data.name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Description" readonly [(ngModel)]="data.description">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button color="primary" class="mat-raised-button mb-2" (click)="close()">
      Close
    </button>
    <!--<button color="primary" class="mat-raised-button mat-primary mb-2" (click)="onEdit()">
      Save
    </button>-->
  </mat-dialog-actions>
</div>
