<div class="p-4 m-4">
  <div class="row">
    <div class="col-sm-3">
      <img class="img-fluid" src="assets/cockroaches.png" >
    </div>
    <div class="col-sm-9">
<h4>General Pest Control Services Bangalore</h4>
<p>Acuity Pest Control has a sole aim to provide a high-quality pest control
   services to you at the most competitive and affordable price. 
   Our Pest Control usually helps to get rid of any kind of pest. 
   As not all pests are same, but our experts identify and give the treatment to the root of pest problem. 
   After the through inspection of the area our experts will give treatment that effectively targets your pest problems. 
   Effective on Cockroaches, Mosquitoes, Ants, Bed Bugs, Silver fish, Caterpillars, Worms, Rodent, Anti Termite & etc.</p>
   <button class="btn btn-primary" [routerLink]='["/home/order-page"]'>Book Now</button>
</div>
</div>
</div>