<div class="mat-elevation-z8">
  <button color="primary" class="float-right mt-2 mb-2 mr-2" mat-raised-button (click)="openAddDialog()">Add Event</button>
  <table class="table" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" routerLink="/home/event-detail/{{element.id}}" class="cursor">
        {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="conductedOn">
      <th mat-header-cell *matHeaderCellDef>Conducted On</th>
      <td mat-cell *matCellDef="let element" routerLink="/home/event-detail/{{element.id}}" class="cursor">
        {{element.conductedOn | date:'MM/dd/yyyy h:mm a'}} </td>
    </ng-container>
    <ng-container matColumnDef="storeName">
      <th mat-header-cell *matHeaderCellDef>Conducted At</th>
      <td mat-cell *matCellDef="let element" routerLink="/home/event-detail/{{element.id}}" class="cursor">
        {{element.storeName}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
          <mat-icon aria-label="Edit"
            (click)="openEditDialog(element.id)">
            edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
          <mat-icon aria-label="Delete" (click)="openDeleteDialog(element.id)">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
