<div class="mb-2">
  <h1 mat-dialog-title>Upload Photos</h1>
  <mat-dialog-content>
    <div>
      <div class="row" style="margin-bottom: 10px;">
        <img src="{{url}}" style="max-height: 200px"> <br />
      </div>
      <button mat-raised-button color="primary" (click)="onPhotoUploadClicked()">
        <mat-icon>add</mat-icon>Select Files
      </button>
      <input #photoUpload type='file' style="display:none;" (change)="onSelectFile($event)"
        accept="image/*" required>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button color="primary" class="mat-raised-button mb-2" (click)="close()">
      Close
    </button>
    <button color="primary" class="mat-raised-button mat-primary mb-2" (click)="onAdd()">
      Upload
    </button>
  </mat-dialog-actions>
</div>
