<div class="container mb-5">
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="event-field">
        <mat-form-field>
          <input matInput placeholder="Name" readonly [(ngModel)]="dataName">
        </mat-form-field>
      </div>
      <div class="event-field">
        <mat-form-field>
          <textarea matInput placeholder="Description" rows="5" [(ngModel)]="dataDescription" readonly></textarea>
        </mat-form-field>
      </div>
      <!-- Recap Sheet list start -->
      <h5 class="float-left mt-1">Recap Sheets</h5>
      <table class="table" mat-table [dataSource]="recapSheetList" style="width: 100%" class="mat-elevation-z1">
        <!-- fileName Column -->
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
        </ng-container>
        <ng-container matColumnDef="file">
          <th mat-header-cell *matHeaderCellDef> File </th>
          <td mat-cell *matCellDef="let element">
            <a (click)="openRecapSheet(element.fileContent, element.contentType)" style="cursor: pointer" target="_blank">
              <img src="{{element.src}}" alt="Recap Sheet" style="height: 42px; width: auto;">
            </a>
          </td>
        </ng-container>
        <!-- uploadedOn Column -->
        <ng-container matColumnDef="uploadedOn">
          <th mat-header-cell *matHeaderCellDef> Uploaded On </th>
          <td mat-cell *matCellDef="let element"> {{element.uploadedOn | date:'MM/dd/yyyy'}} </td>
        </ng-container>
        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="element.status=='New'" mat-icon-button matTooltip="Click to Accept" class="iconbutton"
              color="primary">
              <mat-icon aria-label="Accept"
                (click)="openStatusDialog(element, true)">
                check_circle_outline</mat-icon>
            </button>
            <button *ngIf="element.status=='New'" mat-icon-button matTooltip="Click to Reject" class="iconbutton"
              color="warn">
              <mat-icon aria-label="Reject"
                (click)="openStatusDialog(element, false)">
                block</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div *ngFor="let f of files">
        <span>{{f.name}}</span>
        <button mat-icon-button color="primary" [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
          (click)="removeFile(event,f)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <br>
      <!-- Recap Sheet list end -->
      <!-- Photos list start -->
      <h5 class="float-left mt-1">Photos</h5>
      <table class="table" mat-table [dataSource]="photoList" style="width: 100%" class="mat-elevation-z1">
        <!-- fileName Column -->
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
        </ng-container>
        <ng-container matColumnDef="file">
          <th mat-header-cell *matHeaderCellDef> File </th>
          <td mat-cell *matCellDef="let element">
            <a (click)="openPhoto(element.fileContent, element.contentType)" style="cursor: pointer" target="_blank">
              <img src="{{element.src}}" alt="Photo" style="height: 42px; width: auto;">
            </a>
          </td>
        </ng-container>
        <!-- uploadedOn Column -->
        <ng-container matColumnDef="uploadedOn">
          <th mat-header-cell *matHeaderCellDef> Uploaded On </th>
          <td mat-cell *matCellDef="let element"> {{element.uploadedOn | date:'MM/dd/yyyy'}} </td>
        </ng-container>
        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="element.status=='New'" mat-icon-button matTooltip="Click to Accept" class="iconbutton"
              color="primary">
              <mat-icon aria-label="Accept"
                (click)="openStatusDialog(element, true)">
                check_circle_outline</mat-icon>
            </button>
            <button *ngIf="element.status=='New'" mat-icon-button matTooltip="Click to Reject" class="iconbutton"
              color="warn">
              <mat-icon aria-label="Reject"
                (click)="openStatusDialog(element, false)">
                block</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- Photos list end -->
      <div *ngFor="let f of files">
        <span>{{f.name}}</span>
        <button mat-icon-button color="primary" [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
          (click)="removeFile(event,f)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
