<div class="mat-elevation-z8 table-responsive">
  <table class="table table-hover table-bordered">
    <!-- Name Column -->
    <tr>
      <th>
        Total Number of Events across all Campaigns:
      </th>
      <td></td>
    </tr>
    <tr>
      <th>
        Overall Percentage of bottles sold of Samples tasted at Events.
      </th>
      <td>%</td>
    </tr>
    <tr>
      <th>
        Average Retailer Survey Score for all Events that have been conduct to that point.
      </th>
      <td></td>
    </tr>
    <tr>
      <th>
        Total Compensation
      </th>
      <td></td>
    </tr>
  </table>
</div>